<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 print('Kamil Akhtar')

Kamil Akhtar

In [ ]:
import random

jackpot = random.randint(1,100)
guess = int(input('Guess Karo : '))

counter = 1

while guess != jackpot:
  if guess < jackpot:
    print('Galat hai! Guess higher')
  else:
    print('Galat hai! Guess lower')

  guess = int(input('Guess Karo : '))
  counter += 1

else:
  print('tuka shi laga hai')
  print('And your guess took you only', counter, 'attempts')

Guess Karo : 55
Galat hai! Guess higher
Guess Karo : 65
Galat hai! Guess lower
Guess Karo : 60
Galat hai! Guess higher
Guess Karo : 62
Galat hai! Guess lower
Guess Karo : 61
tuka shi laga hai
And your guess took you only 5 attempts

In [ ]:
# third parameter is step size
for i in range(1,11,3):
  print(i)

1
4
7
10

In [ ]:
# using for loop we can iterate over string, tuple, set and other data types
for i in 'Karachi':
  print(i)

K
a
r
a
c
h
i

In [ ]:
# Reversing a Number
number = int(input('Enter the number '))

rev_number = 0

# convert the number into string
num_str = str(number)
num_rev = num_str[::-1]
print(num_rev)

# Using the number itself
while number > 0:
  last_digit = number % 10
  rev_number = rev_number * 10 + last_digit
  number = number // 10
print('Reverse number is ', rev_number)

Enter the number 854
458
Reverse number is  458

In [ ]:
# Checking the numbers from 1000 to 3000 whether all the digits are divisble by 2
def check_digits(num):
  return all(int(digit) % 2 == 0 for digit in str(num))

for i in range(1000,3001):
  if check_digits(i):
    print(i,end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
# the x,y cordinates are initally (0,0)

# UP 5
# DOWN 3
# LEFT 3
# RIGHT 2
# !

x = 0
y = 0

command = input('Enter the command ')

while command != '!':
  if command == 'u':
    var = int(input('Enter the value '))
    y += var
  elif command == 'd':
    var = int(input('Enter the value '))
    y -= var
  elif command == 'l':
    var = int(input('Enter the value '))
    x -= var
  else:
    var = int(input('Enter the value '))
    x += var
  command = input('Enter the command ')

print(x,y)

distance = round((x**2 + y**2)**0.5)
print(distance)

Enter the command up
Enter the value 5
Enter the command down
Enter the value 3
Enter the command left
Enter the value 3
Enter the command right
Enter the value 2
Enter the command !
-1 2
2

In [ ]:
num = int(input('Enter the number '))

if num == 2:
  print('Prime number hai')
else:
  for i in range(2,round((num/2)+1)):
    if num % i == 0:
      print('Prime number nhi hai')
      break
    else:
      print('Prime number hai')
      break

Enter the number 2
Prime number hai

In [ ]:
# amrstrong number
def amrstrong(num):
  sum = 0
  for digit in str(num):
    sum += int(digit)**3
  if sum == num:
    return True
  else:
    return False

a = int(input('Enter the first number '))
b = int(input('Enter the second number '))

for i in range(a,b):
  if amrstrong(i):
    print(i)

Enter the first number 100
Enter the second number 2000
153
370
371
407

In [ ]:
# factorial sum

n = int(input('Enter the number '))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i / fact

print(result)

Enter the number 5
2.708333333333333

In [ ]:
rows = int(input('Enter number of rows '))

for i in range(1, rows+1):
  for j in range(1, i+1):
    print('*',end='')
  print()

Enter number of rows 5
*
**
***
****
*****

In [ ]:
rows = int(input('enter the number of rows '))

for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

enter the number of rows 5
1
121
12321
1234321
123454321

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
lower = int(int(input('Enter the lower limit ')))
upper = int(input('Enter the upper limit '))

for i in range(lower, upper+1):
  if i > 1:
    for j in range(2,i):
      if i % j/2 == 0:
        break
    else:
      print(i,end=' ')

Enter the lower limit 10
Enter the upper limit 100
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam


# Write a program to count the number of words in a string without split()


# Write a python program to convert a string to title case without using the title()

In [ ]:
# Find the length of a given string without using the len() function
string = input('Enter the String ')
len_ = 0
for i in string:
  len_ += 1
print('length of the {} is {} '.format(string,len_))

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh


email = input('enter the email ')

# Using index finding method
pos = email.index('@')
name = email[:pos]
print(name)

# Using searching @ method
username = ''
for i in email:
  if i == '@':
    break
  else:
    username += i
print(username)

enter the email kamil.akhtar015@gmail.com
kamil.akhtar015
kamil.akhtar015

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.


string = input('Enter the string ')
word = input('Enter the word to search ')
count = 0
for i in string:
  if i == word:
    count += 1
print(count)

Enter the string hi this is kamil akhtar and i am from gupis
Enter the word to search a
5

In [ ]:
# Write a program which can remove a particular character from a string.

string = input('Enter the String ')
charac = input('Enter the character to remove ')
new_string = ''
for i in string:
  if i != charac:
    new_string += i
print(new_string)

Enter the String GUPIS,GILGIT-BALTISTAN
Enter the character to remove G
UPIS,ILIT-BALTISTAN

In [ ]:
string = input("Enter a string: ")

# Loop through the first half of the string
for i in range(len(string) // 2):
    if string[i] != string[len(string) - i - 1]:
        print("Not Palindrome")
        break
else:
    # If the loop completes without breaking
    print("Palindrome")

Enter a string: malayalam
Palindrome

In [ ]:
arows = int(input('Enter the number of rows '))

for i in range(rows,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

Enter the number of rows 10
10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

Enter the number of rows 5
*
**
***
****
*****

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

Enter the number of rows 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(1,rows+1):
  for j in range(rows,i-1,-1):
    print('*', end=' ')
  print()

Enter the number of rows 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input('Enter the number of rows: '))

# Upper half of the pattern
for i in range(1, rows + 1):  # Include the last row
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

# Lower half of the pattern
for i in range(rows - 1, 0, -1):
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input('Enter the number of rows '))

for i in range(1,rows+1):
  # printing spaces
  for i in range(rows,i-1,-1):
    print(' ', end='')

  # printing stars
  for j in range(1,i+1):
    print('*', end='')
  print()

Enter the number of rows 5
     *
    **
   ***
  ****
 *****

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(1,rows+1):
  for i in range(1, i+1):
    print(' ', end='')

  for j in range(rows,i-1,-1):
    print('*', end='')

  print()

Enter the number of rows 5
 *****
  ****
   ***
    **
     *

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(1,rows+1):
  for j in range(rows,i-1,-1):
    print(' ', end='')

  for i in range(1,i+1):
    print(' *', end='')
  print()

Enter the number of rows 5
      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:
rows = int(input('Enter the number of rows '))
for i in range(1,rows+1):
  for j in range(rows,0,-1):
    if j > i:
      print(' ', end='')
    else:
      print(' *', end='')
  print()

Enter the number of rows 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
rows = int(input('Enter the number of rows '))

for i in range(1,rows+1):
  for j in range(i,0,-1):
    print(j,end='')
  print()

Enter the number of rows 5
1
21
321
4321
54321

In [ ]:
n = int(input('Enter the number of terms n '))
x = int(input('Enter the value of x '))

sum = 1

for i in range(1,n+1):
  sum += (x**2)/i

print(sum)

Enter the number of terms n 5
Enter the value of x 1
3.2833333333333337

In [ ]:
n = int(input('Enter the number '))
sum = 0
num = ''
for i in range(1,n+1):
  num += '2'
  print(num, end='')
  if i < n:
    print('+', end='')
  sum += int(num)
print()
print('Sum of above series is: {}'.format(sum))

Enter the number 5
2+22+222+2222+22222
Sum of above series is: 24690

In [ ]:
n = int(input("Enter the number: "))
sum = 0
term = 0

for i in range(1, n + 1):
    term = term * 10 + 2  # Generate the next term directly
    sum += term

# Print the terms in the series
for i in range(1, n + 1):
    print("2" * i, end=" + " if i < n else "\n")

print(f"Sum of above series is: {sum}")

Enter the number: 5
2 + 22 + 222 + 2222 + 22222
Sum of above series is: 24690

In [ ]:
nums = [1, 2, 3, 4]
n = len(nums)

# Initialize an empty list to store all combinations
result = []

# Use nested loops to generate permutations
for a in nums:
    for b in nums:
        if b != a:  # Ensure `b` is different from `a`
            for c in nums:
                if c != a and c != b:  # Ensure `c` is different from `a` and `b`
                    for d in nums:
                        if d != a and d != b and d != c:  # Ensure `d` is different from `a`, `b`, and `c`
                            result.append([a, b, c, d])

# Print the result
print("All unique combinations of 1, 2, 3, and 4:")
for combination in result:
    print(combination)
print("Total number of combinations:", len(result))

All unique combinations of 1, 2, 3, and 4:
[1, 2, 3, 4]
[1, 2, 4, 3]
[1, 3, 2, 4]
[1, 3, 4, 2]
[1, 4, 2, 3]
[1, 4, 3, 2]
[2, 1, 3, 4]
[2, 1, 4, 3]
[2, 3, 1, 4]
[2, 3, 4, 1]
[2, 4, 1, 3]
[2, 4, 3, 1]
[3, 1, 2, 4]
[3, 1, 4, 2]
[3, 2, 1, 4]
[3, 2, 4, 1]
[3, 4, 1, 2]
[3, 4, 2, 1]
[4, 1, 2, 3]
[4, 1, 3, 2]
[4, 2, 1, 3]
[4, 2, 3, 1]
[4, 3, 1, 2]
[4, 3, 2, 1]
Total number of combinations: 24

In [ ]:
nums = [1,2,3,4]
counter = 0
for a in nums:
  for b in nums:
    for c in nums:
      for d in nums:
        if a != b and a != c and a != d and b != c and b != d and c != d:
          print(a,b,c,d)
          counter += 1
print(counter)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1
24

In [ ]:
num = int(input('Enter the number '))

binary = ''
while num != 0:
  rem = num % 2
  binary = str(rem) + binary
  num = num // 2
binary = int(binary)
print(binary)

Enter the number 10
1010

In [ ]:
s = input('Enter the String ')
temp = s.split()
for i in temp:
  print(i[0].upper(),end='')

Enter the String Georgia State University
GSU

In [ ]:
s1 = input('Enter the String ')
s2 = input('Enter the String to add ')

l1 = len(s1)
l2 = len(s2)

new_string = ''

for i in range(0,l1//2):
  new_string += s1[i]

for i in range(0,l2):
  new_string += s2[i]

for i in range(l1//2, l1):
    new_string += s1[i]

print(new_string)

Enter the String pakistan
Enter the String to add INDIA
pakiINDIAstan

In [ ]:
s1 = input('Enter the String ')
s2 = input('Enter the String to add ')

l_1 = len(s1)
l_2 = len(s2)
l_t = l_1+l_2

new_string = ''

for i in range(0,l_t):
  if i < (l_1//2):
    new_string += s1[i]

  elif i >= (l_1//2) and i < ((l_1//2) + l_2):
    new_string += s2[i-(l_1//2)]

  else:
    new_string += s1[i-l_2]

print(new_string)

ka12345678mil

In [ ]:
s = input('Enter the Strig ')

temp_Upper = ''
temp_Lower = ''

for i in s:
  if i.isupper():
    temp_Upper += i
  else:
    temp_Lower += i

new_string = temp_Lower+temp_Upper
print(new_string)

Enter the Strig PyNaTive
yaivePNT

In [ ]:
# order('A') -- to find the ascii value of the character
s = input('Enter the Strig ')
temp_lower = ''
temp_upper = ''

for i in s:
  if ord(i) >= 65 and ord(i) <= 90:
    temp_upper += i
  else:
    temp_lower += i

new_string = temp_lower+temp_upper
print(new_string)

97
122
65
90
Enter the Strig PyNaTive
yaivePNT

In [ ]:
s = 'hel123O4every093'

sum = 0
counter = 0

for i in s:
  if i.isdigit():
    sum += int(i)
    counter += 1

print(f'sum is : {sum}')
print(f'Average is : {sum/counter}')

sum is : 22
Average is : 3.142857142857143

In [ ]:
str1 = 'I am 25 years and 10 months old'
new_string = ''
for i in str1:
  if i.isdigit():
    new_string += i
print(new_string)

2510

In [ ]:
# khokho
string = input('Enter the String ')
mid = len(string)//2
if string[:mid] == string[mid:]:
  print('Symmetical')
else:
  print('Not Symmetical')

Enter the String khokho
Symmetical