<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/3_b_Python_Tuples%2C_Sets%2C_Dictionary_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)

# single item tuple
t2 = (2,)
print(t2)
print(type(t2))

# Homogenous
t3 = (1,2,3,4)
print(t3)

# Hetrogenous
t4 = (1,2.3,True,[1,2,3])
print(t4)

# tuple in tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('Hello')
print(t6)

()
(2,)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.3, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('H', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
# Indexing
print(t3)
print(t3[0])
print(t3[-1])


# Slicing
print(t3[0:4:2])

(1, 2, 3, 4)
1
4
(1, 3)

In [ ]:
# Reversing a tuple
print(t3[::-1])

(4, 3, 2, 1)

In [ ]:
print(t5)
print(t5[3][0])

(1, 2, 3, (4, 5))
4

###Editing Items

Just like strings, tuples are immutable and they can be edit

In [ ]:
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

###Adding Items

In [ ]:
print(t3)
# Not possible

(1, 2, 3, 4)

### Deleting Items

In [ ]:
# Deleting the entire tuples works but we cannot delete items from the tuple
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [ ]:
 t = (1,2,3,4,5,6)
 print(t[-4:])
 print(t[-5::2])

#  left side number should always be greater
 print(t[-1:-4:-1])

(3, 4, 5, 6)
(2, 4, 6)
(6, 5, 4)

### Operations on Tuples

In [ ]:
t1 = (1,2,3,4)
t2 = (5,6,7)

# Addition
print(t1+t2)

# Multiplication
print(t1*3)


# Membership
print(1 in t1)
print(5 in t1)


# Iteration -- Loop
for i in t1:
  print(i,end='')

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
False
1234

### Functions

In [ ]:
t = (1,2,3,4,5)

# length
print(len(t))

# sum
print(sum(t))

# minimum
print(min(t))

# Maximum
print(max(t))

# sorted
print(sorted(t))

# sorted in descending order
print(sorted(t,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# count
t = (1,2,3,4,5,1)
print(t.count(1))
print(t.count(5))
print(t.count(10))

2
1
0

In [ ]:
# Index
print(t.index(5))

# if one item is multiple times than first occurance index will be given

4

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed  
- Memory
- Built in functionality
- Error prone
- Usability

Tuples are fasters than list because of immutability.

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 10.772711992263794
Tuple time 7.543992519378662

Tuples occupy less space than list

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

Swapping Elements in Tuple

In [ ]:
  a = 1
  b = 2
  a,b = b,a
  print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

In [ ]:
# Zipping Tuples
a = (1,2,3)
b = (4,5,6)

print(zip(a,b))

print(list(zip(a,b)))

print(tuple(zip(a,b)))

<zip object at 0x7b8d5838edc0>
[(1, 4), (2, 5), (3, 6)]
((1, 4), (2, 5), (3, 6))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating Sets

In [ ]:
# Empty
s = {}
print(type(s1))

# Empty set
s1 = set()
print(type(s2))

# Homo
s2 = {1,2,3,4}
print(s2)

# Hetro
s3 = {1,'Hello', True, 4.5, (1,2,3)}
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates are not allowed
s5 = {1,2,3,1,2,3}
print(s5)

# set can't have mutable items
s6 = {1,2,[1,2,3]}
print(s6)

<class 'set'>
<class 'set'>
{1, 2, 3, 4}
{1, (1, 2, 3), 4.5, 'Hello'}
{1, 2, 3}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Acessing Items


we cannot do indexing or slicing in set so acessing not items

same as editing

### Adding Items

In [ ]:
s = {1,2,3,4}

# add
s.add(5)
print(s)

# update
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

### Deleting

In [ ]:
# del
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [ ]:
# discard
s = {1,2,3,4,5}
print(s)
s.discard(4)
print(s)

s.discard(8)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3, 5}

In [ ]:
# remove
s = {1,2,3,4,5}
print(s)
s.remove(4)
print(s)

s.remove(8)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

KeyError: 8

Discard will not throw an error when the item is not in the set but remove will throw error.

In [ ]:
# pop -- it will randomly delete any item
s = {1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

In [ ]:
# Clear -- will empty the set
s = {1,2,3,4,5}
s.clear()
s

set()

### Set Operations

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# Union (|)
print("union of both sets is : ", s1 | s2)

# Intesection (&)
print("Intersection of both sets is ", s1 & s2)

# Differnce
print("Difference of both sets is ", s1 - s2)
print("Difference of both sets is ", s2 - s1)

# Symmetric Difference  -- everything excepts common elements will be print
print("Symmetric Difference of both sets is ", s1 ^ s2)

# Membership
print(1 in s1)
print(1 not in s1)

union of both sets is :  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of both sets is  {4, 5}
Difference of both sets is  {1, 2, 3}
Difference of both sets is  {8, 6, 7}
Symmetric Difference of both sets is  {1, 2, 3, 6, 7, 8}
True
False

### Set Functions

In [ ]:
s = {3,1,4,5,2,7}
# len
print(len(s))

# min
print(min(s))

# max
print(max(s))

# sorted
print(sorted(s))

# sorted in descending order
print(sorted(s,reverse=True))

6
1
7
[1, 2, 3, 4, 5, 7]
[7, 5, 4, 3, 2, 1]

### Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

### Set Comphrension

In [ ]:
s = {i**2 for i in range(1,11) if i > 5}
print(s)
s.add(10)
print(s)

{64, 36, 100, 49, 81}
{64, 36, 100, 10, 49, 81}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Creating Dictionary

In [ ]:
# empty dictionary
d = {}
print(d)

# 1D Dictionary
d1 = {'Name':'Kamil'}
print(d1)

# Mix keys
d2 = {(1,2,3):2, 'hello':'world'}
print(d2)

# 2D Dictionary
s = {
    'Name':'Kamil',
    'College':'GSU',
    'sem':'01',
    'subjects':{
        'dsa':50,
        'ML':90
    }
}
print(s)

# Using sequence and dict function -- by passing lists of tuples
d4 = dict([('Name','Kamil'),('College','GSU')])
print(d4)


# Duplicate Keys
d5 = {'Name':'Kamil','Name':'Kamil'}
print(d5)

# Mutable items as keys

{}
{'Name': 'Kamil'}
{(1, 2, 3): 2, 'hello': 'world'}
{'Name': 'Kamil', 'College': 'GSU', 'sem': '01', 'subjects': {'dsa': 50, 'ML': 90}}
{'Name': 'Kamil', 'College': 'GSU'}
{'Name': 'Kamil'}

### Accessing items

In [ ]:
my_dict = {'name':'jack', 'age':'26'}

# [] -- by passing keys
print(my_dict['name'])

# get
print(my_dict.get('name'))

jack
jack

### Adding key-value pair

In [ ]:
print(d4)
d4['gener'] = 'male'
print(d4)

{'Name': 'Kamil', 'College': 'GSU'}
{'Name': 'Kamil', 'College': 'GSU', 'gener': 'male'}

### Remove key-value pair

In [ ]:
d = {'Name': 'Kamil', 'College': 'GSU', 'gener': 'male'}
# pop
d.pop('Name')
print(d)

{'College': 'GSU', 'gener': 'male'}

In [ ]:
# popitem -- it will delete last item of the dictionary
d = {'Name': 'Kamil', 'College': 'GSU', 'gener': 'male'}
d.popitem()
print(d)

{'Name': 'Kamil', 'College': 'GSU'}

In [ ]:
# del
d = {'Name': 'Kamil', 'College': 'GSU', 'gener': 'male'}
del d['Name']
print(d)

del d
print(d)

{'College': 'GSU', 'gener': 'male'}

NameError: name 'd' is not defined

In [ ]:
d = {'Name': 'Kamil', 'College': 'GSU', 'gener': 'male'}
d.clear()
d

{}

### Editing key value pairs

In [ ]:
s['sem'] = 2
s

{'Name': 'Kamil',
 'College': 'GSU',
 'sem': 2,
 'subjects': {'dsa': 50, 'ML': 90}}

### Dictionary Operations
- Memebership
- Iteration

In [ ]:
print(s)

# Membership is working on keys
print('Name' in s)

{'Name': 'Kamil', 'College': 'GSU', 'sem': 2, 'subjects': {'dsa': 50, 'ML': 90}}
True

In [ ]:
d = {'name':'jack', 'gender':'male','age':23}

for i in d:
  print(i, d[i])

name jack
gender male
age 23

### Dictionary Functions

In [ ]:
print(d)
len(d)

{'name': 'jack', 'gender': 'male', 'age': 23}

3

In [ ]:
# sorted will sort all keys
sorted(d,reverse=True)

['name', 'gender', 'age']

In [ ]:
# items/keys/values
print(d)

print(d.items())  # will print all the key value pairs in tuples with in a list
print(d.keys())
print(d.values())

{'name': 'jack', 'gender': 'male', 'age': 23}
dict_items([('name', 'jack'), ('gender', 'male'), ('age', 23)])
dict_keys(['name', 'gender', 'age'])
dict_values(['jack', 'male', 23])

In [ ]:
# update

### Dicitionary Comphrension

**`{ key : value  for vars in iterable }`**

In [ ]:
# print first 10 numbers and their squares
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Using existing dictionary
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

s = {key:value for (key,value) in products.items() if value > 0}
print(s)

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4

{i:{j:i*j for j in range(0,10)} for i in range(2,5)}

{2: {0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18},
 3: {0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 4: {0: 0, 1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36}}