<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/3_b_set_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [3]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set_ar1 = set(ar1)
set_ar2 = set(ar2)
set_ar3 = set(ar3)

result = set_ar1 & set_ar2 & set_ar3
print(result)

{80, 20}

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [8]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
set_str1 = set(Str1)

vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}

result = {char for char in Str1 if char in vowels}

print(f'No of unique vowels-{len(result)}')

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [12]:
string = input('Enter the string : ').strip()

set_str = set(string)

if len(set_str) == 2 and string:
    print('Yes')
else:
    print('No')

Enter the string : 122111
Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [24]:
array = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

new_list = []

for i in array:
  for j in i:
    new_list.append(j)

print(set(new_list))


# ________ OR ____________



result = set().union(*array)
print(result)

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9}