<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/4_a_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Let's Create a function (with docstring)

In [ ]:
def is_even(num):
  """
  This function returns the given number as even or odd
  input -- any integer
  output -- odd/even
  created on -- Feb 15, 2025

  """
  if type(num) == int:
    if num % 2 == 0:
      return "even"
    else:
      return "odd"

  else:
    print('Pagal hain kia')

In [ ]:
#  To access documentation
print(is_even.__doc__)

  This function returns the given number as even or odd
  input -- any integer
  output -- odd/even
  created on -- Feb 15, 2025

In [ ]:
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

### Parameters vs Arguments

Parameters -- when creating a function

Arguement -- Calling a function

### Types of Arguments



*   Default Argument
*   Positional Argument
*   Keyword Argument

In [ ]:
# Defualt Argument

def power(a=1, b=2):
  return a**b

In [ ]:
print(power(2,3))
print(power(2))
print(power())

8
4
1

In [ ]:
# Positional Argument -- order of the argument
power(2,3)

8

In [ ]:
# Keyword Argument -- you specify the name of the parameter and it will preceed the positional argument
power(b=3, a=2)

8

### *args vs kwargs

In [ ]:
# *args
# allow us to pass variable number of non-keyword arguments to a funtion

# * -- is used for variable number of inputs and it will be store inside a tuple

def multiply(*args):
    product = 1

    for i in args:
      product = product * i

    return product

In [ ]:
multiply(1,2,3,4,5,6,7)

5040

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**kwargs):

  for (key,value) in kwargs.items():
    print(key, '-->', value)

In [ ]:
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='Islamabad')

india --> delhi
srilanka --> colombo
nepal --> kathmandu
pakistan --> Islamabad

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice

### How functions are executed in Memory?

In [ ]:
# Life of the function is from its call to return

### Function without return statement

In [ ]:
#  it will return a none

L = [1,2,3]
print(L.append(4))

None

### Variable Scope

In [ ]:
def g(y):
  print(x)
  print(x+1)

x = 5
g(x)
print(x)

5
6
5

In [ ]:
def g(y):
  x = 1
  x += 1
  print(x)

x = 5
g(x)
print(x)

2
5

In [ ]:
def h(y):
  global x
  x += 1

x = 5
h(x)
print(x)

6

# Nested Funtions

In [1]:
def f():
  def g():
    print('inside g')
  g()
  print('inside f')

In [2]:
f()

inside g
inside f

In [3]:
# the inner function is hidden from the main program
g()

NameError: name 'g' is not defined

In [4]:
def g(x):
  def h():
    x = 'abc'
  x = x + 1
  print('in g(x): x =', x)
  h()
  return x

In [6]:
x = 3
z = g(x)
z

in g(x): x = 4

4

# Functions are 1st Class Citizens

In [8]:
# type and id -- function in python acts a datatype
def square(num):
  return num**2

print(type(square))
print(id(square))

<class 'function'>
136489588888320

In [12]:
# reassign
x = square
id(x)
x(3)

9

In [13]:
# deleting a function
del square

In [14]:
square(3)

NameError: name 'square' is not defined

In [15]:
def square(num):
  return num**2

In [16]:
# Storing
L = [1,2,3,4,5, square]
L

[1, 2, 3, 4, 5, <function __main__.square(num)>]

In [17]:
L[-1](3)

9

In [18]:
# we cannot store mutable data types in sets
s = {square}
s

{<function __main__.square(num)>}