<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/4_b_Python_Function_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [7]:
def unique_element(L):
  new_list = list(set(L))
  return new_list

#   OR

def unique_element01(L):
  new_list = []
  for i in L:
    if i not in new_list:
      new_list.append(i)
  return new_list

L = [1,2,3,3,3,3,4,5]
print("First Approach ",unique_element(L))
print("Second Approach ", unique_element01(L))

First Approach  [1, 2, 3, 4, 5]
Second Approach  [1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [21]:
def abc(word):
  L = word.split('-')
  L = sorted(L)
  L = "-".join(L)
  return L

word = "green-red-yellow-black-white"
print(abc(word))

black-green-red-white-yellow

In [22]:
l1 = "green-red-yellow-black-white".split('-')
print(l1)
l2 = sorted(l1)
print(l2)
"-".join(l2)

['green', 'red', 'yellow', 'black', 'white']
['black', 'green', 'red', 'white', 'yellow']

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [32]:
def count(s):

  count_lower = 0
  count_upper = 0

  for i in s:
    if i.isupper():
      count_upper += 1
    elif i.islower():
      count_lower += 1

  return count_lower, count_upper

sample_string = "CampusX is an Online Mentorship Program fOr EnginEering studentS."

count_lower, count_upper = count(sample_string)

print(f"No. of Upper case characters : {count_upper}")
print(f"No. of Lower case characters : {count_lower}")

No. of Upper case characters : 9
No. of Lower case characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [34]:
def even(l):
  new_list = []
  for i in l:
    if i % 2 == 0:
      new_list.append(i)

  return new_list

sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("Ouput is : ", even(sample_list))

Ouput is :  [2, 4, 6, 8]