<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/Python_Tuples%2C_Sets_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [12]:
# empty
t1 = ()
print(t1)

# single item tuple
t2 = (2,)
print(t2)
print(type(t2))

# Homogenous
t3 = (1,2,3,4)
print(t3)

# Hetrogenous
t4 = (1,2.3,True,[1,2,3])
print(t4)

# tuple in tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('Hello')
print(t6)

()
(2,)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.3, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('H', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [16]:
# Indexing
print(t3)
print(t3[0])
print(t3[-1])


# Slicing
print(t3[0:4:2])

(1, 2, 3, 4)
1
4
(1, 3)

In [17]:
# Reversing a tuple
print(t3[::-1])

(4, 3, 2, 1)

In [19]:
print(t5)
print(t5[3][0])

(1, 2, 3, (4, 5))
4

###Editing Items

Just like strings, tuples are immutable and they can be edit

In [21]:
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

###Adding Items

In [22]:
print(t3)
# Not possible

(1, 2, 3, 4)

### Deleting Items

In [23]:
# Deleting the entire tuples works but we cannot delete items from the tuple
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [30]:
 t = (1,2,3,4,5,6)
 print(t[-4:])
 print(t[-5::2])

#  left side number should always be greater
 print(t[-1:-4:-1])

(3, 4, 5, 6)
(2, 4, 6)
(6, 5, 4)

### Operations on Tuples

In [36]:
t1 = (1,2,3,4)
t2 = (5,6,7)

# Addition
print(t1+t2)

# Multiplication
print(t1*3)


# Membership
print(1 in t1)
print(5 in t1)


# Iteration -- Loop
for i in t1:
  print(i,end='')

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
False
1234

### Functions

In [40]:
t = (1,2,3,4,5)

# length
print(len(t))

# sum
print(sum(t))

# minimum
print(min(t))

# Maximum
print(max(t))

# sorted
print(sorted(t))

# sorted in descending order
print(sorted(t,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]