<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/Python_Tuples%2C_Sets%2C_Dictionary_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [11]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

grouped = {}

for tup in test_list:
  key = tup[0]
  if key in grouped:
    grouped[key] += tup[1:]
  else:
    grouped[key] = tup

result = list(grouped.values())

print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [18]:
t = (1, 5, 7, 8, 10)

new_list = []

n = len(t)

for i in range(n):
  temp = 0
  if i == 0:
    temp = t[i] * t[i+1]
  elif i == n-1:
    temp = t[i] * t[i-1]
  else:
    temp = (t[i] * t[i-1]) + (t[i] * t[i+1])
  new_list.append(temp)

new_tuple = tuple(new_list)

print(new_tuple)

(5, 40, 91, 136, 80)

In [26]:
# Using tuple comprehension

t = (1, 5, 7, 8, 10)

new_tuple = tuple(
    t[i] * t[i+1] if i == 0 else  # First element case
    t[i] * t[i-1] if i == len(t)-1 else  # Last element case
    t[i] * t[i-1] + t[i] * t[i+1]  # Middle elements case
    for i in range(len(t))
)

new_tuple

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [31]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t3 = (1,2,3,0)

print('Result is ', t1 == t3)

# OR

flag = True
for i in range(len(t1)):
  if t1[i] != t2[i]:
    flag = False
    break
if(flag):
  print('Tuples are same')
else:
  print('Tuples are not same')

Result is  True
Tuples are same

In [53]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

s = l = t = 0

for i in list1:
  d = type(i)
  if d == set:
    s += 1
  elif d == list:
    l += 1
  elif d == tuple:
    t += 1

print(f'List-{l}')
print(f'Set-{s}')
print(f'Tuple-{t}')

List-2
Set-2
Tuple-1

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [54]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

set_count = 0
list_count = 0
tuple_count = 0

for item in list1:
  if isinstance(item, set):
    set_count += 1
  elif isinstance(item, list):
    list_count += 1
  elif isinstance(item, tuple):
    tuple_count += 1

print(f'List-{list_count}')
print(f'Set-{set_count}')
print(f'Tuple-{tuple_count}')

List-2
Set-2
Tuple-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [2]:

n = int(input('Enter number of students: '))

students = []

for _ in range(n):
    name = input('Enter Student Name: ')
    education = input('Enter Higher Education: ')
    skill = input('Enter Primary Skill: ')
    graduation = input('Enter Year of Graduation: ')

    students.append((name, education, skill, graduation))

print('Enter Job Role Requirement')
r_skill = input('Enter Primary Skill: ')
r_education = input('Enter Higher Education: ')
r_graduation = input('Enter Year of Graduation: ')

shortlisted = [student for student in students if student[1] == r_education and student[2] == r_skill and student[3] == r_graduation]

if shortlisted:
    for student in shortlisted:
        print(student)
else:
    print('No such candidate')

Enter number of students: 2
Enter Student Name: Manohar
Enter Higher Education: MS
Enter Primary Skill: Java
Enter Year of Graduation: 2022
Enter Student Name: Ali
Enter Higher Education: PhD
Enter Primary Skill: Python
Enter Year of Graduation: 2022
Enter Job Role Requirement
Enter Primary Skill: Python
Enter Higher Education: PhD
Enter Year of Graduation: 2022
('Ali', 'PhD', 'Python', '2022')