<a href="https://colab.research.google.com/github/kamilakhtar015/PythonMastery/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To check whether a year is leap or not using Gregorian calender
year = int(input('Enter the year '))

if year % 4 != 0:
    print(f"{year} is not a leap year")
else:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year")
        else:
            print(f"{year} is not a leap year")
    else:
        print(f"{year} is a leap year")

Enter the year 2002
2002 is not a leap year

Refrential Arrays -- Meaning address are saved in it:


Dynamic Arrays -- if the array is full then another array of double size is formed and all the elements in the previosu array are copies from it.


In python lists (arrays) are dynamic while in other programming languages they are fixed


Python lists are hetrogenious because they contain references so they can have addresses of any of the data types.

**Characterstics of Python List:**

Ordered

Changeable/Mutable

Heterogeneous

Can have duplicates

Are dynamic

Can be nested

Items can be accessed

Can contain any kind of objects in python

In [ ]:
# Empty List
print([])

# 1D list
print([1,2,3,4])

# 2D list
print([1,2,3,[4,5]])

# 3D list


# Hetrogenous
print([1,True, 5.6, 5+6j, 'Hello'])


# Using type conversion
print(list('Hello'))

[]
[1, 2, 3, 4]
[1, 2, 3, [4, 5]]
[1, True, 5.6, (5+6j), 'Hello']
['H', 'e', 'l', 'l', 'o']

**Accessing items from Lists**

1.  Indexing

In [ ]:
# Indexing
L = [1,2,3,4,5]

# -> Positive Indexing -- from left to right
print(L[0])

# -> Negative Indexing -- from right to left
print(L[-1])

print('_______________________________________________________')
print()

# for 2D lists
L_2D = [1,2,3,[4,5]]
print(L_2D[3][1]) # for finding 5
print(L_2D[-1][-2])

print('_______________________________________________________')
print()

1
5
_______________________________________________________

5
4
_______________________________________________________

2. Slicing -- Extracting multiple items from the list

In [ ]:
# Slicing
L1 = [1,2,3,4,5,6,7]

print(L1[:])
print(L1[3:])
print(L1[::2])  # Taking 2 step jumps

print(L1[-4:])
print(L1[::-1])  # To reverse the list

[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[1, 3, 5, 7]
[4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

**Adding Items to the list**

In [ ]:
# append -- can add single item to the list
L = [1, 2, 3]
L.append(4)
print(L)
L.append(True)
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, True]

In [ ]:
#extend -- can add multiple items in list at once
L = [1,2,3,4,5]
L.extend([6,True,False,'Atlanta'])
print(L)

[1, 2, 3, 4, 5, 6, True, False, 'Atlanta']

In [ ]:
# Insert -- to add item on desire index
L = [1,2,3,4,5]
L.insert(1,100)
print(L)
L.insert(2,True)
print(L)

[1, 100, 2, 3, 4, 5]
[1, 100, True, 2, 3, 4, 5]

Editing Items in List

In [ ]:
L = [1,2,3,4,5]
# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

Deleting items from list

In [ ]:
# del
L = [1,2,3,4,5]
# indexing
del(L[-1])
# slicing
del(L[1:3 ])

print(L)

[1, 4]

In [ ]:
# remove -- delete using value
L = [1,2,3,4,5]
L.remove(4)
print(L)

[1, 2, 3, 5]

In [ ]:
# pop
L = [1,2,3,4,5]
# using index -- it will delete item at the given index
L.pop(0)
print(L)

# without index -- it will delete last item
L.pop()
print(L)

[2, 3, 4, 5]
[2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]
L.clear()
print(L)

[]

**Operations of List**



*   Arithmetic
*   Membership
*   Loop

In [ ]:
L1 = [1,2,3,4]
L2 = [5,6,7]
L3 = [4,7,8]

# concetanation / Merging
print(L1+L3)

[1, 2, 3, 4, 4, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Memebership
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,5,[6,7]]

print(5 in L1)
print(5 not in L2)

print(6 in L2)

True
False
False

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,5,[6,7]]

for i in L1:
  print(i,end=' ')
print()
for i in L2:
  print(i,end=' ')

1 2 3 4 5
1 2 3 4 5 [6, 7]

**List Functions**

In [ ]:
# len/min/max/sorted

L = [4,2,7,5,1]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L))
print(sorted(L,reverse=True))

5
1
7
[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
print(L.count(1))
print(L.count(5))
print(L.count(10))

3
1
0

In [ ]:
# index
L = [1,2,1,3,4,1,5]
print(L.index(1))

# finds the index of the first occurrence of the value 1 in the list L within the specified range [2, 3) (start and end indices).
print(L.index(1,-4,-1))

0
5

In [ ]:
# reverse
L = [1,2,3,4,5]
# it permamently reverses the list
L.reverse()
print(L)

[5, 4, 3, 2, 1]

In [ ]:
# sort (vs sorted) -- sort is permanent and sorted is not permanent
L = [2,6,3,5,7,1]
sorted(L)
print(L)
L.sort()
print(L)

[2, 6, 3, 5, 7, 1]
[1, 2, 3, 5, 6, 7]

In [ ]:
# copy -> Shallow
L = [2,6,3,5,7,1]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 6, 3, 5, 7, 1]
133348733558720
[2, 6, 3, 5, 7, 1]
133347817627008

**List Comprehension:**

It provides concise way of creating lists:

![tempaor.jpg]()

![tempaor 22.jpg]()

In [ ]:
# Add 1 to 10 to a List
L = []
for i in range(1,11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Scalar multiplication on a vector
v = [2,3,4]
s = -3
[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares to the list
L = [1,2,3,4,5]
L2 = [i**2 for i in L]
print(L2)

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in range of 1 to 50
new_list = [i for i in range(1,51) if i % 5 == 0]
print(new_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages that starts with p
languages = ['jave', 'python', 'php', 'c', 'javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with list comprehension
basket = ['apple','guave','cherry','banana']
my_fruits = ['apple','kiwi','pears','banana','grapes']

# add a new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

**Two ways to traverse list**


*   Itemwise
*   Indexwise

In [ ]:
# itemwise
L= [1,2,3,4,5]
for i in L:
  print(i,end=' ')

1 2 3 4 5

In [ ]:
# indexwise
L= [1,2,3,4,5]
for i in range(0,len(L)):
  print(L[i],end=' ')

1 2 3 4 5

**Zip**

Zip is used for index by index addition of two lists

In [ ]:
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

print([i for i in zip(L1,L2)])

[i+j for i,j in zip(L1,L2)]

[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]

In [ ]:
# we can store any kind of objects in list including the build in functions
L = [1,2, print, type, input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7e52f363e0e0>>]

**Disadvantages of Python List**



*   Slow
*   Risky Usage
*   Eats up more memory

In [ ]:
a = [1,2,3]
b = a

print(a)
print(b)

a.append(4)

print(a)
print(b)

print('________________________________________')
print()

# since we haven't made any changes in b but it is appended because python list mutable and they point to same memory address
# The possible solution for this problem is to use copy function

a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]
________________________________________

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

**Problems:**

**Combine two lists index-wise(columns wise)**


Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [ ]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

length = max(len(list1), len(list2))

new_list = []

for i in range(length):
    # Create a sublist with elements from list1[i] and list2[i]
    sub_list = [list1[i], list2[i]]
    # Append the sublist to new_list
    new_list.append(sub_list)

print(new_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
# Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(len(candy_list)):
  print(candy_list[i],'-',no_of_items[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [ ]:
# Write a program to print a list after performing running sum on it.
list1 = [1,2,3,4,5,6]
new_list = []
sum = 0
for i in list1:
  sum += i
  new_list.append(sum)

new_list

[1, 3, 6, 10, 15, 21]

You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.



i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]

In [ ]:
list1 = [2,4,6,10,1]

L = len(list1)
new_list = []
# partial_sum = 0

for i in range(L):
  partial_sum = 0
  for j in range(L):
    if list1[j] >= list1[i]:
      partial_sum += list1[j]
  new_list.append(partial_sum)

new_list

[22, 20, 16, 10, 23]

Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

In [ ]:
list1 = ['1ac21', '23fg', '456', '098d','1','kls']
#   	    2       6       120      0    1    1
# ['456', '23fg', '1ac21', '1', 'kls', '098d']

new_list = []

for i in list1:
  product = 1
  for j in i:
    if j.isdigit():
      product *= int(j)
  new_list.append(product)

n = len(list1)

for i in range(n):
  for j in range(0,n-i-1):
    if new_list[j] < new_list[j+1]:
      new_list[j], new_list[j+1] = new_list[j+1], new_list[j]
      list1[j], list1[j+1] = list1[j+1], list1[j]

print(new_list)
print(list1)

[120, 6, 2, 1, 1, 0]
['456', '23fg', '1ac21', '1', 'kls', '098d']

In [ ]:
# Split String of list on K character.
list1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
new_list = []
n = len(list1)
for i in range(n):
  new_list += list1[i].split()
new_list

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
# Convert Character Matrix to single String using string comprehension.
list1 = [['c', 'a', 'm', 'p', 'u', 's','x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
for i in range(len(list1)):
  print(''.join(list1[i]),end=' ')

campusx is best channel

**# Add Space between Potential Words.**

In [ ]:
# Add Space between Potential Words. -- Using an Extra List
list1 = ['campusxIs', 'bestFor', 'dataScientist']

new_list = []

for word in list1:
  new_string = ''
  for char in word:
    if 'A' <= char <= 'Z':
      new_string += ' ' + char
    else:
      new_string += char
  new_list.append(new_string)

print(new_list)

['campusx Is', 'best For', 'data Scientist']

In [ ]:
# In current existing list

list1 = ['campusxIs', 'bestFor', 'dataScientist']

n = len(list1)
new_list = []

for i in range(n):
  new_string = ''
  for j in list1[i]:
    if ord(j) >= 65  and ord(j) <= 90:
      new_string += ' ' + j
    else:
      new_string += j
  list1[i] = new_string

list1

['campusx Is', 'best For', 'data Scientist']

**Union of two lists**

In [ ]:
a = [1,2,3,4,5,1]
b = [2,3,5,7,8]

for i in a:
  if i not in b:
    b.append(i)
  else:
    continue
b.sort()
print(b)

[1, 2, 3, 4, 5, 7, 8]

 Write a program that can find the max number of each row of a matrix

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
a = [max(row) for row in matrix]
print(a)

[3, 6, 9]

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
new_list = []
for i in matrix:
  temp = 0
  a = max(i)
  new_list.append(a)
new_list

[3, 6, 9]

Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
[[i+j for j in range(3)] for i in range(0,9,3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Write a list comprehension that can transpose a given matrix


matrix =

[
[1,2,3],

[4,5,6],

[7,8,9]
]







Transpose of the Matrix is:

[1, 4, 7]


[2, 5, 8]


[3, 6, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

 Write a list comprehension that can flatten a nested list


matrix =

[
[1,2,3],

[4,5,6],

[7,8,9]]

Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

flatten = [item for sublist in matrix for item in sublist]

print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]